---
layout: index
---

<ul class="posts">
  {% for post in site.posts %}
  <li>
    <small class="datetime muted" data-time="{{ post.date }}">{{ post.date | date_to_string }} </small>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>

<ul class="moments">
  {% for moments in site.moments %}
  <li>
    <small class="datetime muted" data-time="{{ moments.date }}">{{ moments.date | date_to_string }} </small>
    <a href="{{ moments.url }}">{{ moments.title }}</a>
  </li>
  {% endfor %}
</ul>
