<footer>
    <div class="about-wrap">
        <section class="about">
            <img class="about-avatar" src="{{ "/img/avatar.jpg" | prepend: site.baseurl }}" border="0" alt="[name]" />
            <div class="about-body">
                <p class="about-body-title">About</p>
                <p class="about-body-description">{{ site.description }}</p>
                <ul>
                    <li><a href="!http://static.viewbook.com/images/social_icons/facebook_16.png!":http://link_to_your_facebook_page></a></li>

                    <li><a href="!http://static.viewbook.com/images/social_icons/flickr_16.png!":http://link_to_your_flickr_page></a></li>
                </ul>
            </div>
        </section>
    </div>
</footer>